<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjectFusion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2AB9159C1CB0558C0014A6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AB915B51CB0558C0014A6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AB915C01CB0558C0014A6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
